/* =================================================

Universal Styling 

===================================================*/

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background: url('../Assets/wallpaper3.png')
}

header, footer {
    background-color: #13294B;
    padding: 20px;
}

h1, h2 {
    font-family: 'Cormorant', serif;
    color: #4b9cd3
}

p, li {
    font-family: 'Nunito Sans', sans-serif;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* =================================================

Header and Nav Styling

====================================================*/

header > .container {
    display: flex;
    max-width: 900px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 36px;
    color: white;
    width: 30%;
}

nav {
    width: 60%;
    text-align: center;
    text-justify: center;
}

.menu-nav {
    text-decoration: none;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: bold;
    background: white;
    color: #13294B;
    padding: 10px 20px;
    margin: 0 10px
}

.menu-nav:visited {
    background: #4b9cd3;
    color: white;
}

.menu-nav:hover {
    background: #4b9cd3;
    color: white;
}

/* =================================================

Main Styling

====================================================*/

body > .container {
    display: flex;
    max-width: 900px;
    margin: 40px auto;
    justify-content: center;
}

main, aside {
    background: white;
}

main {
    max-width: 80%;
    padding: 20px;
    margin-right: 30px;
}

main img {
    float: left;
    margin-right: 30px;
}

h2 {
    font-size: 32px;
    margin-bottom: 20px;
    border-bottom: 2px solid #4b9cd3;
}

ul {
    margin-left: 20px;
}

/* =================================================

Aside Styling

====================================================*/

aside {
    align-self: start;
    flex-shrink: 0;
    padding: 20px;
}

aside img {
    box-shadow: 1px 1px 10px black;
    border-radius: 10px;
    margin: 0 5px;
}

aside a {
    text-decoration: none;
}

/* =================================================

Footer Styling

====================================================*/

footer {
    text-align: center;
    margin-top: auto;
    color: white;
    font-family: 'Nunito Sans', sans-serif;
}